@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

@font-face {
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: #000000;
}

html, body {
    margin: 0;
    background-color: #222;
    padding: 0;
    min-height: 100%;
}



header {
    background-color: #55D6AA;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 0px;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 3px 0;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 20%;
  background-color: white;
  max-height: 60px;
  max-width: 60px;
}

.AppName {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 1000;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-left: 15px;
  padding-top: 1px;
  position: relative;
}

nav{
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}



.content-section {
    margin: 1em;
}

.bar {
  width: 80%;
  margin: 0 auto;
}


.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5em;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.map-container {
    display: block;
    flex-wrap: nowrap;
    justify-content: space-around;
    display: inline-block;
    margin-bottom: 40px;
}

.section-header {
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    color: #000000;
    text-align: center;
    font-size: 2.5em;
}



.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #000000;
}

.shop-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #000000;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #000000;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #000000;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
		/* border-radius: 10px; */
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #ffffff;
    margin-right: 20px;
}

.cart-total-price {
    color: #ffffff;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
