@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

@font-face {
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: #000000;
}

html, body {
    margin: 0;
    background-color: #222;
    padding: 0;
    min-height: 100%;
}

header {
    background-color: #55D6AA;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 0px;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 3px 0;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 20%;
  background-color: white;
  max-height: 50px;
  max-width: 50px;
}

.AppName {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 1000;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-left: 15px;
  padding-top: 1px;
  position: relative;
}

nav{
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.content-section {
    margin: 1em;
}

.bar {
  width: 80%;
  margin: 0 auto;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
    background-color: #CCC;
    border-radius: 15px;
    height: 500px;

}

.section-header {
    padding-top: 15px;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    color: #000000;
    text-align: left;
    font-size: 2.5em;
}

.image {
    float: right;
    height: 200px;
    width: 200px;
    background-color: white;
    margin-right: 5%;
    border-radius: 100px;
}
